.cities {
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    min-height: 65vh;
    padding: 1rem 0;
    padding-right: 1rem;
}


.cities a:link, a:visited {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    color: var(--color-secondary);
    background-color: var(--color-dark-1);;
    border-radius: 8px;
    border-left: 6px solid var(--color-primary);
    padding: 1rem 2rem;
    text-decoration: none;
}

.cities h3 {
    flex-grow: 1;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.cities h3 span {
    font-size: 1rem;
    text-transform: uppercase;
}

.cities button {
    border-radius: 50%;
    color: var(--color-secondary);
    background-color: transparent;
    font-size: 3rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

.cities button:hover {
    color: var(--color-primary);
    transform: rotate(180deg);
}

.cities--active a {
    border: 2px solid var(--color-primary);
    border-left: 6px solid var(--color-primary);
}