.countries {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    list-style-type: none;
}

.countries li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;
    color: var(--color-secondary);
    background-color: var(--color-dark-1);;
    border-radius: 8px;
    border-left: 6px solid var(--color-primary);
}

.countries .name {
    font-size: 2rem;
}