:root {
    --color-primary: #00c46a;
    --color-secondary: #d6dee0;
    --color-dark-1: #42484d;
    --color-dark-2: #2d3439;
    --color-dark-3: #242a2e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
}

.btn, .btn:link, .btn:visited {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    background-color: var(--color-primary);
    color: var(--color-dark-2);
    padding: 1.2rem 2rem;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.5s all;
}